body { 
    background: url(https://images.squarespace-cdn.com/content/v1/55f45174e4b0fb5d95b07f39/f2692796-38b3-473e-b3b6-f503a0668b28/Louis-Vuitton-Mens-2023-Ad-Campaign-Tyler-mitchell-00005.jpg) center/cover no-repeat fixed; /*background image using link from the internet*/
    font-family: montserrat;
    overflow-x: hidden; /*ensure vertical scrolling doesnt happen*/
}


.navbar ul{
    background: transparent; /*transparent background for the navbar*/
    padding: 0;
    margin: -10px;
    display:flex; /*enables better modification*/
    justify-content: space-around; /*creates equal spacing between list items*/
    text-align:center; /*centers each list item in it's position*/
}

.navbar li{
    display: inline-block; /*to have list items in horizontal format*/
}

.navbar a{
    text-decoration: none; /*removes the underline beneath list items*/
    color:black;
    display: block; /*to be able to set width and height for the elements*/
    width: 100%; /*takes up the entire width of the display*/
    padding: 25px;
    font-size: 15px;
    text-transform: uppercase; /*makes all the text uppercase*/
    font-weight: bold; /*makes text bold*/
    transition: color 0.3s ease; /*the affect that shows the colour fade in when hovered over caused by the transition code*/
}

.navbar a:hover{
    color:aliceblue; /*colour of text when hover affect is implemented*/
}

header { /*Timeless treasures header*/
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    position: fixed; /*makes editing and modifying easier as it is in fixed position regardless of change*/
    top: 30px; /*margin from the top of the display*/
    left: 50%; /*to make sure it's in the middle (50% of the display width)*/
    transform: translateX(-50%); /*centers the header within its container*/
    width: 100%; /* To make it span the full width of the page*/
    height:100px; /*takes up 100px of the screen from the top*/
    z-index: 1001; /*ensures the headers appears above other elements so it's not overshadowed main concern was the lv navbars*/
}

.LV-header{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    top: 30px;
    left: 50%; /*to make sure it's in the middle*/
    transform: translateX(-50%);
    width: 100%; /* To make it span the full width of the page*/
    height:100px;
 
}

.spacer{
    width: 200px; /*to create a space between list items*/
}

.spacerLV{ /*lv page spacer*/
    width: 10px;
}

button{
    font-size: 17px;
    border-radius: 30px; /*to create rounded edges*/
    width: 15%;
    padding: 10px;
    border: none;
    background-color:rgba(255, 255, 255, 0.4); 
    color: black;
    position: absolute; /*position of button doesnt change regardless of changing dimension sizes*/
    left: 50%; 
    top: 80%; /*drop to the lower 20% of the screen*/
    transform: translate(-50%, -50%);
}

/* the rectangle of brands*/
.rectangle {
    z-index: 2000; /*to ensure the header doesnt overlap this*/
    width: 20%; /*takes up 20% of the display from the left*/
    height: 100%; /*takes up the entire screen*/
    background-color: rgba(255, 255, 255, 0.55);  
    position: fixed;
    top: 0; /*paired with the left:0 to ensure the rectangle starts from the beginnign of the top and left of the display*/
    left: 0;
    border-top-right-radius: 20px; /*adds the border radius to the top right of the div*/
    border-bottom-right-radius: 20px; /*adds the border radius to the bottom right of the div*/
    overflow-y:scroll; /*enables scrolling for items within this rectangle class in a vertical way becasue y*/
    &::-webkit-scrollbar{ /*this removes the appearance of the scrollbar in webkit browsers which are chrome and sfafari*/
        width:0.5em;
    }
    &::-webkit-scrollbar-thumb{
        background-color: transparent;
    }
}
/*the unordered list for brands*/
.rectangle ul {
    list-style: none; /*removes the predefined list item dots*/
    padding: 5px;
    margin: 0;
}
/* the affects for the menu extension brands*/
.rectangle li {
    font-size: 20px;
    margin-bottom: 20%; /*the margin between items in the list*/
    margin-left: 30px;
}
.rectangle li:first-child { /*this is for the first list item in the list of rectangle*/
    font-size: 25px;
    margin-top: 5px; /*No margin for the icon which will be used to exit the menu and go back to index.html*/
    margin-left: 20px; /*so that the exit icon doesnt look so close to the display*/
}

.rectangle a{ /*for items with the <a> tag*/
    text-decoration: none; /*removes any predefined styling on the list items*/
    color:black;
    transition: color 0.3s ease; /*affect of hover affect where the colour eases in*/
}

.rectangle a:hover{
    color:aliceblue;
}

.navbarLV ul{  /*new class name for navbar in the lv product page mainly to change the colour of hovering*/
    list-style: none; /*remove any predefined styling*/
    background: rgba(255, 255, 255, 0); 
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: space-around;
    text-align:center;
    background-color: white;
}

.navbarLV li{
    display: inline-block; /*flow in a line and items wont start on new line*/
}

.navbarLV a{ /*for all items using the <a> tag*/
    text-decoration: none; /*removes predefined styling*/
    color:black;
    width: 100%;
    display: block; 
    padding: 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease; /*the affect that shows the colour fade in when hovered over caused by the transition code*/
}

.navbarLV a:hover{
    color:brown; /*brown because that's the iconic colour of LV*/
}

.navbar-cart ul{  /*new class name for navbar in the lv product page mainly to change the colour of hovering*/
    list-style: none;
    background: rgba(255, 255, 255, 0); 
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: space-around;
    text-align:center;
    background-color: white;
}

.navbar-cart li{
    display: inline-block; /*makes items align in line in a row and not start from a new line*/
}

.navbar-cart a{ /*every navbar item in the a tag*/
    text-decoration: none;
    color:black;
    width: 100px;
    display: block;
    padding: 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease; /*the affect that shows the colour fade in when hovered over caused by the transition code*/
}

.navbar-cart a:hover{
    color:brown;
}

.itempagenavbar{ /*navbar for the lower half of the lv page*/
    position:fixed;
    width:100%;
    background-color: transparent;
}

.itempagenavbar ul{
    list-style: none;
    background: rgba(255, 255, 255, 0); 
    padding: 0;
    margin-top:65px; /*margin from the top*/
    display:flex;
    justify-content: space-around;
    text-align:center;
    border-bottom: 1px solid black; /*to create a cool looking line below the list*/ 
}

.itempagenavbar li{
    display: inline-block;

}

.itempagenavbar a{
    text-decoration: none;
    color:black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease; /*the affect that shows the colour fade in when hovered over caused by the transition code*/
}

.itempagenavbar a:hover{
    color:brown;
}

.itempagenavbar .arrow-down { /*in order to create a arrow drop down icon*/
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000;
    vertical-align: middle;
    margin-left: 5px; 
    transition:color 0.3s ease;
}

.itempagenavbar .with-arrow:hover .arrow-down {
    border-top-color: brown;
}

.image-container {  /*a flex container that will arrange the child elements side by side which in this case are the image boxes*/
    display: flex;
    gap: 15%; /*the space between 2 products is 15% of the screen*/
}
.image-box {
    margin-top: 77px;
    width: 350px;
    height: 350px;
    padding:10px;
    overflow:hidden; /*hides the overflown items if it does occur*/
    flex: 0 0 auto; /*to prevent flex items from growing or shrinking in a flex container*/
}

.image-box img {
    width: 95%;
    height: 95%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire box */
    transition: transform 0.3s ease; /* Add a smooth transition effect on hover */
}

.image-box:hover img {
    transform: scale(1.05); /* Zoom in 1.1 times original on hover */
}

.image-description { /*the description of the item*/
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-88%);
    padding: 1px;
    font-size: 14px;
    color: black;
    width: 100%;
    text-align: center;
}

.image-box1 {
    margin-top: 75px;
    width: 350px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    flex: 0 0 auto; /*to prevent flex items from growing or shrinking in a flex container*/
}

.image-box1 img {
    width: 95%;
    height: 90%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire box */
    transition: transform 0.3s ease; /* Add a smooth transition effect on hover */
}

.image-box1:hover img {
    transform: scale(1.05); /* Zoom in slightly on hover */
}

.image-description1 {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-51%);
    font-size: 14px;
    color: black;
    width: 100%;
    text-align: center;
}

.image-box2 {
    margin-top: 90px;
    width: 350px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    flex: 0 0 auto; /*to prevent flex items from growing or shrinking in a flex container*/
}

.image-box2 img {
    width: 90%;
    height: 90%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire box */
    transition: transform 0.3s ease; /* Add a smooth transition effect on hover */
}

.image-box2:hover img {
    transform: scale(1.05); /* Zoom in slightly on hover */
}

.image-description2 {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-12.5%); /*determines the position of the text on the x axis*/
    padding: 1px;
    font-size: 14px;
    color: black;
    width: 100%;
    text-align: center;
}

.image-box3 {
    margin-top: 80px;
    width: 350px;
    height: 350px;
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    flex: 0 0 auto; /*to prevent flex items from growing or shrinking in a flex container*/ 
}

.image-box3 img {
    width: 90%;
    height: 90%;
    object-fit:cover; /* Maintain aspect ratio and cover the entire box */
    border:0px;
    transition: transform 0.3s ease; /* Add a smooth transition effect on hover */
}

.image-box3:hover img {
    transform: scale(1.05); /* Zoom in slightly on hover */
}

.image-description3 {
    position: absolute;
    bottom: -320px;
    left: 50%;
    transform: translateX(-90%);
    padding: 1px;
    font-size: 14px;
    color: black;
    width: 100%;
    text-align: center;
}


.image-container1 {  /*a flex container that will arrange the child elements side by side which in this case are the image boxes*/
    display: flex;
    gap: 15%; /*the space between 2 products is 15% of the screen*/
}

.main-content{ /*to ensure the top margin of the child divs which contain product info and pics*/
    margin-top: 10%;
}

.fixed-background-cart { /*for the headers and navbars in the cart page*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 18%;
    background-color: white;
    z-index: 1000; /* Ensures the fixed background appears above other elements */
}

.fixed-backgroundLV { /*for the headers and navbars in the lv page*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 27%;
    background-color: white;
    z-index: 1000; /* Ensures the fixed background appears above other elements */
}

.image-box4 {
    margin-top: 80px;
    margin-left: 10px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    flex: 0 0 auto; /*to prevent flex items from growing or shrinking in a flex container*/ 
}

.image-box4 img {
    width: 110%;
    height: 105%;
    object-fit:cover; /* Maintain aspect ratio and cover the entire box */
    border:0px;
    transition: transform 0.3s ease; /* Add a smooth transition effect on hover */
}

.image-box4:hover img {
    transform: scale(1.05); /* Zoom in slightly on hover */
}

.image-description4 {
    position: absolute;
    bottom: -320px;
    left: 50%;
    transform: translateX(-51%);
    padding: 1px;
    font-size: 14px;
    color: black;
    width: 100%;
    text-align: center;
}


.image-box5 {
    margin-top: 90px;
    margin-left: -50px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    text-align: center;
    flex: 0 0 auto; /*to prevent flex items from growing or shrinking in a flex container*/ 
    position:relative;
}

.image-box5 img {
    width: 115%;
    height: 110%;
    object-fit:cover; /* Maintain aspect ratio and cover the entire box */
    border:0px;
    transition: transform 0.3s ease; /* Add a smooth transition effect on hover */
}

.image-box5:hover img {
    transform: scale(1.05); /* Zoom in slightly on hover */
}

.image-description5 {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-40%);
    font-size: 14px;
    color: black;
    width: 100%;
    text-align: center;
}


.cartseperation{ /*a coloured div to showcase cart items and create a seperation affect from the navigation bars*/
    width:100%;
    height:450px;
    margin-top:131px;
    background-color:gainsboro;
}   

.cart-text { /*for the text showcasing empty cart*/
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%); /*to center the text*/
}

.footer-cart ul{ /*footer for the cart */
    font-family: sans-serif;
    margin-top: 2%;
    font-size: 12px;
    list-style: none;
    display:flex;
    justify-content: space-around;
    text-align: left;
    z-index:10001;
}

.footer-cart li{
    display:inline-block;
}

.footer-cart li:hover{
    color:brown
}

/*-------------------------------------------------------------------------------------------------------*/
/*Phone aspect ratio*/
@media only screen and (max-width:1284px){
    button{
        font-size: 10px;
        width: 20%;
        top: 90%;
    } 
    header { /*Timeless treasures header*/
        font-size:25px;
    }
    .navbar ul{
        flex-direction: column; /*make items align vertically*/
    }
    
    .navbar a{
        margin-top: 20px;
        width: auto;
        padding: 20px;
        font-size: 13px;
        text-align: right;
    }

    /* the affects for the menu extension brands*/
    .rectangle li {
        font-size: 13px;
        margin-bottom: 50%; /* Optional: Add some margin between list items */
        margin-left: 20px;
    }

    .rectangle li:first-child { /*this is for the first list item in the list of rectangle*/
        margin-left: 5px; /*so that the exit x icon doesnt look so close to the display*/
    }

    .navbarLV ul{  /*new class name for navbar in the lv product page mainly to change the colour of hovering*/
        position:fixed;
        margin-left: 5px;
        margin-top: 120px; /*make items align vertically*/
    }

    .navbarLV a{
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }

    .itempagenavbar ul{
        margin-top:160px ;
    }

    .itempagenavbar a{
        width: 100%;
        padding: 10px;
        font-size: 10px;
    }

    .image-container {  /*a flex container that will arrange the child elements vertically which in this case are the image boxes*/
        flex-direction: column;
    }

    .image-box {
        width: 270px;
        height: 270px;
    }
    
    .image-description {
        bottom:45%;
        transform: translateX(-22%);
    }
    
    .image-box1 {
        width: 270px;
        height: 270px;
    }

    .image-description1 {
        bottom: -8%;
        transform: translateX(-22%);
    }
    
    .image-box2 {
        width: 270px;
        height: 270px;
    }
 
    .image-description2 {
        bottom: -53%;
        transform: translateX(-24%);
    }

    .image-container1 {  /*a flex container that will arrange the child elements side by side which in this case are the image boxes*/
        flex-direction: column;
    }
    
    .image-box3 {
        width: 270px;
        height: 270px;
    }

    .image-description3 {
        bottom: -100%;
        transform: translateX(-25.5%);
    }

    .image-box4 {
        width: 270px;
        height: 270px;
    }

    .image-description4 {
        bottom: -150%;
        transform: translateX(-25.5%);
    }
    
    .image-box5 {
        margin-left: -20px;
        width: 500px;
        height: 270px;
    }
    
    .image-box5 img {
        width: 50%;
        margin-left: -35%;
    }

    .image-description5 {
        top:30%;
        transform: translateX(-23%);
    }
    .LV-header{
        font-size: 25px;
        height:100%;
    }

    .main-content{ /*to ensure the top margin of the child divs which contain product info and pics*/
        margin-top: 25%;
    }

    .navbar-cart ul{  /*new class name for navbar in the lv product page mainly to change the colour of hovering*/
        background: rgba(255, 255, 255, 0); 
        padding: 10px;
        margin-top: 15%;
    }

    .navbar-cart a{
        width: 40%;
        padding: 30px;
        font-size: 13px;
    }

    .footer ul{ /*footer*/
        font-size: 9px;
    }

    .cart-text { /*for the text showcasing empty cart*/
        font-size: 15px;
    }

    .fixed-background-cart { /*for the headers and navbars in the cart page*/
        height: 19%;
    }
}
